@page
@model MahasiswaModel
@{
    ViewData["Title"]="Add Mahasiswa";
}
<h4>Add Mahasiswa</h4>
<h2>Status DB: @TempData["cekkoneksi"]</h2>
<hr>
<button class="btn btn-lg btn-primary btn-block text-uppercase col-md-3" type="button" onclick="location.href='/Mahasiswaadd'">Mahasiswa add</button>
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped border">
            <tr class="table-scondary">
               <th>ID</th>
               <th>Nim</th>
               <th>Nama</th>
               <th>Kelas</th>
               <th>Jurusan</th>
            </tr>
            @foreach (var item in @Model.DataMahasiswa)
            {
                <tr>
                    <td>@Html.DisplayFor(m => item.Id)</td>
                    <td>@Html.DisplayFor(m => item.Nim)</td>
                    <td>@Html.DisplayFor(m => item.Nama)</td>
                    <td>@Html.DisplayFor(m => item.Kelas)</td>
                    <td>@Html.DisplayFor(m => item.Jurusan)</td>

                </tr>
            }
        </table>
    </div>
    <div class="col-md-4">
        <form action="" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Mhs.Nama" class="control-label"></label>
                <input type="text" asp-for="Mhs.Nama" class="form-control">
                <span asp-validation-for="Mhs.Nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mhs.Kelas" class="control-label"></label>
                <input type="text" asp-for="Mhs.Kelas" class="form-control">
                <span asp-validation-for="Mhs.Kelas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mhs.TempatLahir" class="control-label"></label>
                <input type="text" asp-for="Mhs.TempatLahir" class="form-control">
                <span asp-validation-for="Mhs.TempatLahir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mhs.TglLahir" class="control-label"></label>
                <input type="text" asp-for="Mhs.TglLahir" class="form-control">
                <span asp-validation-for="Mhs.TglLahir" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mhs.tinggibadan" class="control-label"></label>
                <input type="text" asp-for="Mhs.tinggibadan" class="form-control">
                <span asp-validation-for="Mhs.tinggibadan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mhs.Hp" class="control-label"></label>
                <input type="text" asp-for="Mhs.Hp" class="form-control">
                <span asp-validation-for="Mhs.Hp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" name="" id="" value="Simpan" class="btn btn-primary">
            </div>
        </form>
    </div>
    <br>
    Data Mahasiswa<br>
    @if(TempData["namaMahasiswa"]!=null){
        <div class="form-group">
            Nama: @TempData["namaMahasiswa"];
            Kelas: @TempData["kelasMahasiswa"];
            Tempat TGL Lahir: @TempData["tempatMahasiswa"]/@TempData["tglMahasiswa"];
            Tinggi: @TempData["tiggiMahasiswa"];
            Hp: @TempData["hpMahasiswa"];
            <br>
        </div>
    }
</div>
@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}